<template>
  <div>
    <section class="main-content columns">
      <aside class="column is-2 section">
        <ul class="menu-list">
          <li
            v-for="(item, key) of items"
            :key="key">
            <nuxt-link
              :to="item.to"
              exact-active-class="is-active">
              {{ item.title }}
            </nuxt-link>
          </li>
        </ul>
      </aside>
      <div class="column is-10">
        <nuxt />
      </div>
    </section>
    <div>
      <nuxt-link
        to="/add"
        class="button is-dark is-rounded is-add-task">+</nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [
        { title: 'Not Done', to: { name: 'index' } },
        { title: 'Done', to: { name: 'done' } },
        { title: 'Logout', to: { name: 'login' } }
      ]
    }
  }
}
</script>

<style scoped>
.is-active {
  background-image: linear-gradient(to right, hsl(0, 0%, 50%) 30%, white) !important;
}
</style>


<style scoped>
.is-add-task {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
</style>

