<template>
  <section class="section">
    <div class="field">
      <label class="label">Name</label>
      <div class="control">
        <input
          v-model="content"
          class="input"
          type="text"
          placeholder="Text input">
      </div>
    </div>
    <div class="field">
      <label class="label">Message</label>
      <div class="control">
        <textarea
          v-model="note"
          class="textarea"
          placeholder="Textarea" />
      </div>
    </div>
    <b-field label="Select a date">
      <b-datepicker
        v-model="dealine"
        placeholder="Click to select..."
        icon="calendar-today">
      </b-datepicker>
    </b-field>
    <div class="field is-grouped">
      <div class="control">
        <button
          @click="addTask"
          class="button is-link">Submit</button>
      </div>
      <div class="control">
        <nuxt-link
          to="/"
          class="button is-text">Cancel</nuxt-link>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    middleware: 'authentication',
    data() {
      return {
        content: '',
        note: '',
        dealine: new Date()
      }
    },
    methods: {
      addTask() {
        const note = `<p>` + this.note.replace(/\n/g, '<br />') + `</p>`
        const dateFormat = new Date(this.dealine).toLocaleString('vi-VN')
        const splite = dateFormat.split(`, `)
        this.$axios.post(`/api/create`, { 
          content: this.content,
          note: note,
          dealine: splite[1],
          status: false
        })
          .then(result => {
            this.$router.push('/')
          })
      }
    }
  }
</script>