<template>
  <section class="section">
    <table class="table is-striped is-narrow is-hoverable is-fullwidth is-table">
      <thead>
        <tr>
          <th
            width="50"
            class="has-text-centered">ID</th>
          <th width="300">Content</th>
          <th>Note</th>
          <th
            width="300"
            class="has-text-centered">Done</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="(item, index) in listTask"
          :key="item.id">
          <td class="has-text-centered">{{ index + 1 }}</td>
          <td>{{ item.content }}</td>
          <td v-html="item.note" />
          <td class="has-text-centered">
            <span class="tag is-primary">
              {{ item.dealine }}    
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</template>

<script>
export default {
  middleware: 'authentication',
  data() {
    return {
      listTask: []
    }
  },
  beforeMount() {
    this.$axios.get(`/api/getlist`)
      .then(result => {
        this.listTask = result.data.data.filter(item => item.status === true)
      })
  }
}
</script>

<style scoped>
.is-table {
  font-size: 14px !important;
}
</style>

