<template>
  <section class="section">
    <table class="table is-striped is-narrow is-hoverable is-fullwidth is-table">
      <thead>
        <tr class="has-text-centered">
          <th
            width="50"
            class="has-text-centered">ID</th>
          <th width="300">Content</th>
          <th>Note</th>
          <th
            width="200"
            class="has-text-centered">Dealine</th>
          <th
            width="100"
            class="has-text-centered">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="(item, index) in listTask"
          :key="item.id">
          <td class="has-text-centered">{{ index + 1 }}</td>
          <td>{{ item.content }}</td>
          <td v-html="item.note" />
          <td class="has-text-centered">
            <span
              class="tag"
              :class="priority(item.dealine)">
              {{ item.dealine }}
            </span>
          </td>
          <td class="has-text-centered">
            <button
              class="button is-dark is-small"
              @click="update(item._id, index)"
              >
              Done
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</template>

<script>
export default {
  middleware: 'authentication',
  data() {
    return {
      listTask: [],
      day: 0
    }
  },
  beforeMount() {
    this.$axios.get(`/api/getlist`)
      .then(result => {
        this.listTask = result.data.data.filter(item => item.status === false)
      })
    const dateNow = new Date()
    const dateFormat = new Date(dateNow).toLocaleString('vi-VN')
    const spliteDate = dateFormat.split(`, `)
    const spliteDay = spliteDate[1].split('/') 
    this.day = spliteDay[0]
  },
  computed: {
    priority() {
      return function(dealine) {
        const spliteDay = dealine.split('/')
        const distance =  spliteDay[0] - this.day
        if (distance > 2) {
          return 'is-success'
        } else if (distance === 2) {
          return 'is-warning'
        } else {
          return 'is-danger'
        }
      }
    }
  },
  methods: {
    update(id, index) {
      this.listTask.splice(index, 1)
      this.$axios.post(`/api/update`, {
        id: id
      })
        .then(result => {
        })
    }
  }
}
</script>

<style scoped>
.is-table {
  font-size: 14px !important;
}
</style>
