<template>
  <div class="container is-content">
    <form @submit.prevent="login">
      <div class="control is-loading is-large">
        <input
          class="input is-rounded is-large"
          type="password"
          placeholder="Hello, Thaycacac"
          v-model="password">
      </div>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      password: ''
    }
  },
  layout: 'login',
  methods: {
    login() {
      if (this.password === 'iljimae') {
        this.$store.dispatch('SET_AUTHEN', true)
        this.$router.push('/')
      } else {
        this.$toast.open({
            message: `Nam mô a di đà phật!!!`,
            type: 'is-danger',
            position: 'is-bottom'
        })
      }
      this.password = ''
    }
  }
}
</script>

<style scoped>
.is-content {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
</style>
